{% extends "base_encuesta.html" %}

{% block form_content %}
        <div class="question-group">
            <label for="primera">¿La solución brindada resolvió su problema?</label>
            <select id="primera" name="primera" required>
                <option value="3">Totalmente</option>
                <option value="1">Parcialmente</option>
                <option value="0">No</option>
            </select>
        </div>

        <div class="question-group flex-container">
            <label for="segunda">¿Cómo calificaría la claridad de las explicaciones o pasos proporcionados?</label>
            <div class="radio-group">
                <div class="radio-option">
                    <input type="radio" id="muy_clara" name="segunda" value="3" required>
                    <label for="muy_clara">😎 Muy clara</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="clara" name="segunda" value="1">
                    <label for="clara">😐 Clara</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="poco" name="segunda" value="0">
                    <label for="poco">😞 Poco</label>
                </div>
            </div>
        </div>

        <div class="question-group flex-container">
            <label for="tercera">¿Considera que el tiempo de respuesta inicial fue adecuado?</label>
            <div class="radio-group">
                <div class="radio-option">
                    <input type="radio" id="si" name="tercera" value="3" required>
                    <label for="si">😊 Sí</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="no" name="tercera" value="0">
                    <label for="no">😞 No</label>
                </div>
            </div>
        </div>

        <div class="question-group">
            <label for="comentarios">¿Hay algo que podríamos haber hecho mejor en esta gestión?</label>
            <textarea id="comentarios" name="comentarios" rows="4" placeholder="Comentarios..."></textarea>
        </div>
{% endblock %}

{% block extra_form_data %}
            console.log([...formData]);
{% endblock %}