{% extends "base_encuesta.html" %}

{% block form_content %}
        <div class="question-group">
            <label for="primera">¿Se le mantuvo informado regularmente sobre el avance de su ticket?</label>
            <select id="primera" name="primera" required>
                <option value="3">Siempre</option>
                <option value="1">A veces</option>
                <option value="0">Nunca</option>
            </select>
        </div>

        <div class="question-group">
            <label for="segunda">¿Cómo calificaría la disponibilidad del equipo para resolver sus dudas durante la gestión?</label>
            <select id="segunda" name="segunda" required>
                <option value="3">Excelente</option>
                <option value="2">Buena</option>
                <option value="1">Regular</option>
                <option value="0">Insuficiente</option>
            </select>
        </div>

        <div class="question-group flex-container">
            <label for="tercera">¿Considera que la solución final fue adecuada y completa?</label>
            <div class="radio-group">
                <div class="radio-option">
                    <input type="radio" id="muy_clara" name="tercera" value="3" required>
                    <label for="muy_clara">😎 Sí</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="clara" name="tercera" value="1">
                    <label for="clara">😐 Parcialmente</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="poco" name="tercera" value="0">
                    <label for="poco">😞 No</label>
                </div>
            </div>
        </div>

        <div class="question-group">
            <label for="comentarios">¿Hay algo que podríamos haber hecho mejor en esta gestión?</label>
            <textarea id="comentarios" name="comentarios" rows="4" placeholder="Comentarios..."></textarea>
        </div>
{% endblock %}